body {
	font-family: 'Lucida Grande', sans-serif;
	color: #666666;
	padding-left: 100px;
	padding-right: 100px;	
}

.sidebar {
}
.main-title {
	color: #666666;
	font-size: 40px;
	padding-right: 200px;
	padding-top: 25px;
	padding-bottom: 15px;
}
.subtitle {
	color: #F07C17;
	font-size: 20px;
	font-weight: bold;
	margin-top: 0px;

}
.paragraph-stuff {
	line-height: 175%;
}
.feature-title {
	padding-bottom: 10px;
}
.the-list {
	padding-top: 2px;
	padding-bottom: 2px;
}
.feature{
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;
}
