/* Main elements */
body {

	font: 16px/2 'Lucida Grande', sans-serif;

	margin: 25px 0 0 0;

}

li {

	font: 16px/31px 'Lucida Grande', sans-serif;

	padding: 1px 0 0 1px;

}

/* Titles */
.main-title {

	color: #666;

	font: 48px/100% 'Lucida Grande', sans-serif;

	margin: 20px 0 32px 0;

}

.subtitle {

	color: #f07c17;

	font: bold 25px/100% 'Lucida Grande', sans-serif;

	margin: 0 0 10px 0;

	padding: 0 0 19px 0;

}

/*  Side bar */
.feature {

	outline: 1px solid #ccc;

	font: 30px/100% 'Lucida Grande', sans-serif;

	padding: 30.5px 2px 31px 29.5px;

	margin: 31px 1px 0 1px;

}
